table.list,table.mail,table.label
{
	border: 2px #000000 solid;																								/* テーブル枠の設定 */
	border-collapse: collapse;																								/* テーブル枠の隙間設定 */
}
a
{
	padding: 0px 4px;
	font-family:"Palatino Linotype”";
}
table.list td.td2
{
	width: 60px;
}

table.list th
{
	background-color: #1E90FF;																								/* 背景色設定 */
	border: 2px #000000 solid;																								/* テーブル枠の設定 */
}


table.list td
{
	border: 2px #000000 solid;																								/* テーブル枠の設定 */
	HEIGHT: 25px;
}

table.list td#stripe
{
	background-color: #B0E0E6;																								/* 背景色設定 */
}

table.mail th
{
	background-color: #1E90FF;																								/* 背景色設定 */
	border: 2px #000000 solid;																								/* テーブル枠の設定 */
}

table.mail td
{
	border: 2px #000000 solid;																								/* テーブル枠の設定 */
}

table.mail td#stripe
{
	background-color: #B0E0E6;																								/* 背景色設定 */
}
table.label th
{
	background-color: #1E90FF;																								/* 背景色設定 */
	border: 2px #000000 solid;																								/* テーブル枠の設定 */
}

table.label td
{
	border: 2px #000000 solid;																								/* テーブル枠の設定 */
}

table.label td#stripe
{
	background-color: #B0E0E6;																								/* 背景色設定 */
}
td.center
{
	text-align: center;																										/* 背景色設定 */
}
td.right
{
	text-align: right;																										/* 背景色設定 */
}
td.left
{
	text-align: left;																										/* 背景色設定 */
}
td.top
{
	vertical-align:top;
}
table.mail_result td.radio
{
	margin-left: auto;
	margin-right: auto;
}

a.title {
	color:#000;
	padding:15px 17px;
	font-size: xx-large;
	font-weight: bold;
	display: inline-block;
	line-height: 100%;
	overflow: hidden;
	text-transform: uppercase;
        margin-top: 55px;
	margin-right: 15px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

a.large {
	color:#000;
	padding:15px 17px;
	font-size: xx-large;
	font-weight: bold;
	display: inline-block;
	line-height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	margin-right: 15px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

a.error {
	color:#F00;
	font-size: small;
}

.pad
{
	padding: 15px;
}

#pop input[id="form_103_0"]
{
    width: 98%!important;
}

#pop input[id="form_203_0"]
{
    width: 98%!important;
}

#pop input[id="form_303_0"]
{
    width: 98%!important;
}

#pop input[id="form_403_0"]
{
    width: 98%!important;
}
.readOnly
{
	background-color: #cccccc;
}

div.center
{
	text-align : center;
}
td,th
{
	white-space:nowrap;
}

td.year1
{
	background-color:#F0FFFF;
	padding: 2px 10px;
}
td.year2
{
	background-color:#E0FFFF;
	padding: 2px 10px;
}
td.year3
{
	background-color:#F0F8FF;
	padding: 2px 10px;
}
td.year4
{
	background-color:#F8F8FF;
	padding: 2px 10px;
}
td.year5
{
	background-color:#FFF0F5;
	padding: 2px 10px;
}
td.year6
{
	background-color:#FFDAB9;
	padding: 2px 10px;
}
a.kensakuyear
{
	color: #111111;
}
a.kensaku
{
	color: #111111;
	font-size: 15px;
	font-weight: bold;
}
input.free
{
	WIDTH: 140px;
	HEIGHT: 40px;
}
input.free:hover {
	background-color: #FFDAB9;
}
input.button:hover {
	background-color: #FFDAB9;
}
input.free:disabled {
	background-color: #E6E6FA;
}
input.button:disabled {
	background-color: #E6E6FA;
}

input[type="submit"],input[type="button"]
{
	position: static;
	top: 50%;
	display: inline-block;
	padding: 0 .6em;
	overflow: hidden;
	height: 1.9em;
	line-height: 1.9em;
	white-space: nowrap;
	cursor: pointer;
}
div.left
{
	float:left !important;
	HEIGHT:30px;
}

table.list input[type="text"]
{
	HEIGHT: 20px;
}

.listScroll{    
    /*画面に対する比率で最大の幅を設定*/
    max-width: 99%;

    /*中身の横幅に合わせる*/
    display: inline-block;
    
    /*10件分の表の高さを最大値とする*/
    max-height: 340px;
    
    /*中身の高さに合わせる*/
    height: auto;
    
    /**/
    /*縦スクロール（必要なときのみ表示）*/
    overflow: auto;
    /*横スクロール（必要なときのみ表示）*/
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    
    /*要素を左寄せにする*/
    margin-right: auto;
    
    /*余白設定*/
    margin-bottom: 0px;
    
    border-style: solid;
    border-width: thin;
    }   

.listScroll th {  
    /*スクロール時にヘッダーを固定する*/
    position: sticky;
    top: 0; 
}

/* カラムの調整 */
.column {
    overflow: hidden;/*スクロール時にカラム名を固定*/
    text-overflow: ellipsis;
}

.selectScroll{    
    /*画面に対する比率で最大の幅を設定*/
    max-width: 99%;

    /*中身の横幅に合わせる*/
    display: inline-block;
    
    /*10件分の表の高さを最大値とする*/
    max-height: 310px;
    
    /*中身の高さに合わせる*/
    height: auto;
    
    /**/
    /*縦スクロール（必要なときのみ表示）*/
    overflow: auto;
    /*横スクロール（必要なときのみ表示）*/
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    
    /*要素を左寄せにする*/
    margin-right: auto;
    
    /*余白設定*/
    margin-bottom: 0px;
    
    border-style: solid;
    border-width: thin;
    }   

.selectScroll th {  
    /*スクロール時にヘッダーを固定する*/
    position: sticky;
    top: 0; 
}

/* カラムの調整 */
.column {
    overflow: hidden;/*スクロール時にカラム名を固定*/
    text-overflow: ellipsis;
}
/*ナビゲーション全体の設定*/
nav{
        text-align: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 0 5px 10px 0 #b9b9b9;
}
/*ナビゲーションを横並びに*/
nav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        background: #efefef;
        border-bottom: 1px solid #afafaf;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
        display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
        position: relative;
        width: 210px;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
        display: block;
        text-decoration: none;
        color: #383839;
        padding:20px 20px;
        transition:all .3s;
}
.line{
        position:relative;
}
.line::after {
        content: '';
        position: absolute;
        bottom:-2px;
        left: 0;
        width: 0%;
        height: 1px;
        background: #000;
        transition: all .3s;
}
nav ul li a:hover .line::after{
        width: 100%;
}
/*下の階層を持っているulの指定*/
nav li.has-child ul{
        /*絶対配置で位置を指定*/
        position: absolute;
        left:0;
        top:72px;
        z-index: 4;
        /*形状を指定*/
        background:none;
        width:240px;
        /*はじめは非表示*/
        visibility: hidden;
        opacity: 0;
        /*アニメーション設定*/
        transition: all .3s;
        border: none;
}
/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
        visibility: visible;
        opacity: 1;
}
/*サブボタンデザイン*/
input.menu{
        background: #efefef;
        border: 1px solid #afafaf;
        margin: 0 0 5px 0px;
        box-shadow: 0 5px 10px 0 #b9b9b9;
        height: 40px;
        width: 210px;
}
input.menu:hover{
        background: gray;
        color: #fff;
}

/*カレンダーCSS*/
.container {
    font-family: 'Noto Sans JP', sans-serif;
    width: 80%;
    margin-left: 12%;
    height: 100vh;
}
h3 {
    margin-top: 10%;
    margin-bottom: 1%;
}
.month{
    float: left;
}
/*テーブル背景色*/
.container table {
    background-color: white;
}
/*カレンダー枠線*/
.container table,.container td,.container th {
    border-collapse: collapse;
    border: 3px solid white;
}
/*カレンダー大きさ*/
.calendar{
    width: 100%;
}

tr.youbi{
    background-color: #b0c4de;
}
th.youbiColor {
    width: 10%;
    height: 30px;
    text-align: center;
}
td.day {
    height: 100px;
    background-color: #eaeff7;
}
/*本日背景色*/
.today {
    background: #dce5f4;;
    height: 100px;
}
th.youbiColor:nth-of-type(1), td.day:nth-of-type(1) {
    color: red;
}
th.youbiColor:nth-of-type(7), td.day:nth-of-type(7) {
    color: blue;
}

/*日にち*/
span.dayof {
   font-weight: bold;
   margin-left: 5%;
   font-size: 18px;
}
/*勤務時間、残業時間*/
span.worktime,span.overtime{
    display: block;
    border-bottom: 1px solid #b8b8b8;
    height: 25%;
    text-align: right;
    margin: 0% 4% 0% 4%;
    padding-top: 4%;
    color: black;
}
button.copybtn
{
    float: right;
    margin: 0 6px 0 0;
    height: 27px;
    width: 27px;
}
#dgl
{
    border: black 0px solid;
    width: 270px;
    height: 160px;
    padding: 10px 10px;
    box-shadow: 0 3px 10px #00000052;
}
.dlgtitle
{
    text-align: center;
    margin: 0px 0 5% 0px;
    padding: 12px 10px;
    font-weight: bold;
    color: #ffffff;
    background: #aacaeb;
    border-radius: 11px;
    height: 20px;
    font-size: 17px;
}
.dlgtable
{
    margin: auto;
}
.dlgbtn
{
    width: 90px;
}
.monthbtn
{
    background: none;
    border: none;
    font-size: 20px;
    height: auto;
    width: 35px;
    padding: 0 0;
}