table.list,table.mail,table.label
{
	border: 2px #000000 solid;																								/* ƒe[ƒuƒ‹˜g‚Ìİ’è */
	border-collapse: collapse;																								/* ƒe[ƒuƒ‹˜g‚ÌŒ„ŠÔİ’è */
}
a
{
	padding: 0px 4px;
	font-family:"Palatino Linotypeh";
}
table.list td.td2
{
	width: 60px;
}

table.list th
{
	background-color: #1E90FF;																								/* ”wŒiFİ’è */
	border: 2px #000000 solid;																								/* ƒe[ƒuƒ‹˜g‚Ìİ’è */
}


table.list td
{
	border: 2px #000000 solid;																								/* ƒe[ƒuƒ‹˜g‚Ìİ’è */
	HEIGHT: 25px;
}

table.list td#stripe
{
	background-color: #B0E0E6;																								/* ”wŒiFİ’è */
}

table.mail th
{
	background-color: #1E90FF;																								/* ”wŒiFİ’è */
	border: 2px #000000 solid;																								/* ƒe[ƒuƒ‹˜g‚Ìİ’è */
}

table.mail td
{
	border: 2px #000000 solid;																								/* ƒe[ƒuƒ‹˜g‚Ìİ’è */
}

table.mail td#stripe
{
	background-color: #B0E0E6;																								/* ”wŒiFİ’è */
}
table.label th
{
	background-color: #1E90FF;																								/* ”wŒiFİ’è */
	border: 2px #000000 solid;																								/* ƒe[ƒuƒ‹˜g‚Ìİ’è */
}

table.label td
{
	border: 2px #000000 solid;																								/* ƒe[ƒuƒ‹˜g‚Ìİ’è */
}

table.label td#stripe
{
	background-color: #B0E0E6;																								/* ”wŒiFİ’è */
}
td.center
{
	text-align: center;																										/* ”wŒiFİ’è */
}
td.right
{
	text-align: right;																										/* ”wŒiFİ’è */
}
td.left
{
	text-align: left;																										/* ”wŒiFİ’è */
}
td.top
{
	vertical-align:top;
}
table.mail_result td.radio
{
	margin-left: auto;
	margin-right: auto;
}

a.title {
	color:#000;
	padding:15px 17px;
	font-size: xx-large;
	font-weight: bold;
	display: inline-block;
	line-height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	margin-right: 15px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

a.large {
	color:#000;
	padding:15px 17px;
	font-size: xx-large;
	font-weight: bold;
	display: inline-block;
	line-height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	margin-right: 15px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

a.error {
	color:#F00;
	font-size: small;
}

.pad
{
	padding: 15px;
}

.readOnly
{
	background-color: #cccccc;
}

div.center
{
	text-align : center;
}
td,th
{
	white-space:nowrap;
}

td.year1
{
	background-color:#F0FFFF;
	padding: 2px 10px;
}
td.year2
{
	background-color:#E0FFFF;
	padding: 2px 10px;
}
td.year3
{
	background-color:#F0F8FF;
	padding: 2px 10px;
}
td.year4
{
	background-color:#F8F8FF;
	padding: 2px 10px;
}
td.year5
{
	background-color:#FFF0F5;
	padding: 2px 10px;
}
td.year6
{
	background-color:#FFDAB9;
	padding: 2px 10px;
}
a.kensakuyear
{
	color: #111111;
}
a.kensaku
{
	color: #111111;
	font-size: 15px;
	font-weight: bold;
}
input.free
{
	WIDTH: 140px;
	HEIGHT: 40px;
}
input.free:hover {
	background-color: #FFDAB9;
}
input.button:hover {
	background-color: #FFDAB9;
}
input.free:disabled {
	background-color: #E6E6FA;
}
input.button:disabled {
	background-color: #E6E6FA;
}

input[type="submit"],input[type="button"]
{
	position: relative;
	top: 50%;
	display: inline-block;
	padding: 0 .6em;
	overflow: hidden;
	height: 1.9em;
	line-height: 1.9em;
	white-space: nowrap;
	cursor: pointer;
}
div.left
{
	float:left !important;
	HEIGHT:30px;
}

table.list input[type=text]
{
	height:20px;
}


